.face-container {
    width: 100px;
    height: auto;
    position: relative;
    left: auto;
    margin: auto;

    img {
        width: 450px;
        margin-left: 200px;
        position: relative;
        top: 90px;
        height: auto;
        border-radius: 50px;
    }
    
}